<div class="matrix">
  <div class="matrix__block" *ngFor="let row of matrixArray">
    <div
      *ngFor="let num of row"
      [ngClass]="{
        'matrix__row': true,
        'zero': num === 0,
        'one': num === 1
      }"
    >
      {{num}}
    </div>
  </div>

  <h1>{{findIsland}}</h1>

  <div class="matrix__add-new">
    <div class="matrix__select-blocks">
      <div class="matrix__select-block">
        <p class="matrix__paragraph">You can add column</p>
        <input class="matrix__select" type="number" [(ngModel)]="countColumns" [value]="countColumns">
      </div>
  
      <div class="matrix__select-block">
        <p class="matrix__paragraph">You can add row</p>
        <input class="matrix__select" type="number" [(ngModel)]="countRows" [value]="countRows">
      </div>
  
      <div class="matrix__button" (click)="addNewTimeMatrixArray()">Add new matrix</div>
    </div>
  
    <div class="matrix__new-block" *ngIf="newMatrixArrayIds.length">
      <div class="matrix__block" *ngFor="let rowId of newMatrixArrayIds">
        <input
          class="matrix__input"
          type="text"
          *ngFor="let numId of newMatrixRowIds"
          (input)="changeNewTimeMatrixNum(rowId, numId, $event)"
          [value]="getNewTimeMatrixNum(rowId, numId) !== 0 ? 1 : 0"
          maxlength="1"
        >
      </div>
  
      <div class="matrix__button" (click)="createNewMatrixArray()">Create new matrix</div>
    </div>
  </div>
</div>
